h1 {
    text-align: center;
}

#container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

h1 {
    color: gray;
}

#circle {
    border: 5px solid lightgray;
    border-top: 5px solid black;
    border-radius: 150px;
    width: 100px;
    height: 100px;

    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}