#container {
    max-width: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#box {
    background-color: black;
    margin-top: 30vh;
    border-radius: 15px;
    padding: 10px 30px 30px 30px;
    text-align: center;
}

h1 {
    color: white;
}

p {
    color: white;
}

a {
    color: skyblue;
    font-size: 12px;
}

a:hover {
    color: white;
}
