#container {
    max-width: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#box {
    background-color: black;
    margin-top: 30vh;
    border-radius: 15px;
    padding: 10px 30px 40px 30px;
    text-align: center;
}


a {
    color: white;
    font-size: 9px;
}

h1 {
    color: white;
}

p {
    color: skyblue;
    font-size: 20px;
}

@media only screen and (max-width: 900px) { 
    p {
    font-size: 15px;
    color: magenta;
    }

    #box {
        width: 80vw;
    }
}